html {
    scroll-behavior: smooth;
}

body{
    padding:0;
    margin:0;
    min-width:800px;
    min-height: 750px;
}

p{
    font-size: 14px;
}

header{
    width:100%;
    height:auto;
    min-height:67px;
    background-color: rgb(255, 246, 186);
}

.header-logo{
    font-size: 38px;
    font-family: "Montserrat Subrayada";
    padding:13px 30px 0px 30px;
    float:left;
    transition: all 0.5s;
}

/* .header-logo:hover{
    background-color: rgb(255, 247, 230);
} */

.header-logo a{
    text-decoration: none;
    color: rgb(98, 63, 15);
}

/* .header-logo a:hover{
    color: #000;
} */

header img{
    height:57px;
}

.icon{
    height:57px;
    width:57px;
    margin:auto 0 auto auto;
    padding:5px 20px 2px 0;
}

.design-line{
    height:5px;
    background-color: rgb(255, 201, 115);
}

.design-btm{
    height:10px;
    background-color: rgb(255, 246, 186);
}

.design-white{
    height:5px;
    background-color: rgb(255, 255, 255);
}

.design-brown{
    height:5px;
    background-color: rgb(101, 77, 43);
}

.design-orange{
    height:1px;
    background-color: rgb(255, 228, 159);
}

.table{
    background-color: rgb(252, 251, 241);
    padding: 15px 30px;
}

.design01 {
    width: 75%;
    max-width: 800px;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
   }
   .design01 th {
    padding: 5px;
    background: #e9faf9;
    border: solid 1px #778ca3;
   }
   .design01 td {
    padding: 5px;
    border: solid 1px #778ca3;
   }

.form{
    background-color: rgb(252, 251, 241);
    padding: 15px;
}

footer{
    width:100%;
    height:auto;
    background-color: rgb(255, 246, 186);
}

.footer-logo{
    font-size: 20px;
    font-family: "Montserrat Subrayada";
    color: rgb(98, 63, 15);
    padding: 15px 30px;
}

.footer-logo a{
    font-size: 16px;
    font-family: "Montserrat Subrayada";
    color: rgb(98, 63, 15);
    text-decoration: none;
}

.bottom-li{
    margin: 7px 5px;
}